$window_fg: #1d1d1d;
$window_bg: #c9c9c9;
$text_widget_fg: #1d1d1d;
$text_widget_bg: #e5e5e5;

$selected_fg: #000000;
$selected_bg: #9dccff;

$button_fg: #1d1d1d;
$button_bg: #d3d3d3;
$button_checked_bg: #9dccff;
$button_checked_fg: #000000;


$disabled_fg: #552222;
$disabled_bg: #c7bebe;

/*Usually an automatic fg color on these backgrounds should check this value!*/
$warningc: #e17800;
$errorc: #df0000;
$successc: #13d272;


$titlebar_active_fg: #000000;
$titlebar_active_bg: #5ea3da;

$titlebar_backdrop_fg: #1d1d1d;
$titlebar_backdrop_bg: #c9c9c9;

$hint_fg: #504300;
$hint_bg: #ffffa4;

$osd_fg: #504300;
$osd_bg: #ffffa4;

$link_fg: #004B91;
$link_visited_fg: #680091;
