
@function tab_image_gloss($direction:bottom, $var:$variant) {
  @return linear-gradient(
						to $direction,
						transparentize(white, if($var == 'light', .7, .9 )),
						transparentize(white, if($var == 'light', .7, .9 )) 50%,
						transparentize(white, 1) 70%,
                        transparentize(black, 1) 70%,
						transparentize(black, if($var == 'light', .9, .65)) );
}

@function tab-box-shadows ($position:top) {
  $bs_top: inset 0 1px 0 0 $top_hilight;
  $bs_bottom: inset 0 -1px 0 0 $top_hilight;
  $bs_left: inset 1px 0 0 0 $top_hilight;
  $bs_right: inset -1px 0 0 0 $top_hilight;

  @if $position==top {@return $bs_top, $bs_left, $bs_right;}
  @else if $position==bottom {@return $bs_bottom, $bs_left, $bs_right;}
  @else if $position==left {@return $bs_left, $bs_top, $bs_bottom;}
  @else if $position==right {@return $bs_right, $bs_top, $bs_bottom;}
  @else {@error "Incorrect tab position";}

}

notebook {



  > header {
    padding: 1px;
    border-color: $borders_color;
    border-width: 1px;
    background-color: $dark_fill;

    &:backdrop {
      border-color: $backdrop_borders_color;
      background-color: $backdrop_dark_fill;
    }

    tabs { margin: -1px; }
	
	menubutton {
	padding: 0;
	min-height: 0;
	min-width: 0;
	}
    button {
    &, &.image-button, .circular &, .popup & { //you'll be small, damnit!
		  min-height: 1em;
		  min-width: 1em;
		  padding: 0.1em;
      }
    }
    
    &.top {
      border-bottom-style: solid;
      > tabs {
        margin-bottom: -2px;
        > tab {

          border-top-left-radius: $tab_radius;
          border-top-right-radius: $tab_radius;
          border-bottom: none;
          background-image: tab_image_gloss(bottom);
          box-shadow: tab-box-shadows(top);

          &:hover { border-bottom-color: $borders_color; }

          &:backdrop { box-shadow: none; }

          &:checked { 
            //@include _shadows(inset 0 (2 * $tab_radius + 4) 0 (-(2*$tab_radius)) $selected_bg_color, inset 0 1px $hilight_color);
            border-color: $borders_color;
            border-bottom-color: transparent;
            }
        }
      }
    }

    &.bottom {
      border-top-style: solid;
      > tabs {
        margin-top: -2px;
        > tab {
          box-shadow: tab-box-shadows(bottom);
          border-bottom-left-radius: $tab_radius;
          border-bottom-right-radius: $tab_radius;
          border-top: none;
          background-image: tab_image_gloss(top);
          &:hover { border-top-color: $borders_color; }

          &:backdrop { box-shadow: none; }

          &:checked { 
            //@include _shadows(inset 0 (-(2 * $tab_radius + 4)) 0 (-(2*$tab_radius)) $selected_bg_color, $button_shadow_normal);
            border-color: $borders_color;
            border-top-color: transparent;
          }
        }
      }
    }

    &.left {
      border-right-style: solid;
      > tabs {
        margin-right: -2px;
        > tab {
          box-shadow: tab-box-shadows(left);
          border-top-left-radius: $tab_radius;
          border-bottom-left-radius: $tab_radius;
          border-right: none;
          background-image: tab_image_gloss(right);
          &:hover { border-right-color: $borders_color; }

          &:backdrop { box-shadow: none; }

          &:checked { 
            //@include _shadows(inset ((2 * $tab_radius + 4)) 0  0 (-(2*$tab_radius)) $selected_bg_color, $button_shadow_normal, inset 0 1px $hilight_color);
            border-color: $borders_color;
            border-right-color: transparent;
          }
        }
      }
    }

    &.right {
      border-left-style: solid;
      > tabs {
        margin-left: -2px;
        > tab {
          box-shadow: tab-box-shadows(right);
          border-top-right-radius: $tab_radius;
          border-bottom-right-radius: $tab_radius;
          border-left: none;
          background-image: tab_image_gloss(left);
          &:hover { border-left-color: $borders_color; }

          &:backdrop { box-shadow: none; }

          &:checked { 
            //@include _shadows(inset (-(2 * $tab_radius + 4)) 0  0 (-(2*$tab_radius)) $selected_bg_color, $button_shadow_normal, inset 0 1px $hilight_color);
            border-color: $borders_color;
            border-left-color: transparent;
          }
        }
      }
    }

    &.top > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-top-style: none;
    }

    &.bottom > tabs > arrow {
      @extend %notebook_vert_arrows;

      border-bottom-style: none;
    }

    @at-root %notebook_vert_arrows {
      margin-left: -5px;
      margin-right: -5px;
      padding-left: 4px;
      padding-right: 4px;

      &.down { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }
    }

    &.left > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-left-style: none;
    }

    &.right > tabs > arrow {
      @extend %notebook_horz_arrows;

      border-right-style: none;
    }

    @at-root %notebook_horz_arrows {
      margin-top: -5px;
      margin-bottom: -5px;
      padding-top: 4px;
      padding-bottom: 4px;

      &.down { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
    }

    > tabs > arrow {
      //@extend %button_basic;
      @extend %button;

      //@extend %button_basic_flat;

      min-height: 16px;
      min-width: 16px;
      border-radius: 0;

      &:hover:not(:active):not(:backdrop) {
        //background-clip: padding-box;
        //background-image: none;
        //background-color: transparentize(white, 0.7);
        //border-color: transparent;
        //box-shadow: none;
        @include button(hover);
      }
      &:active {@include button(active);}

      &:disabled { @include button(insensitive); }
    }

    tabs > tab {
      border: 1px solid $borders_color;
      min-height: 20px;
      min-width: 20px;
      padding: 3px 12px;

      outline-offset: -5px;

      color: $fg_color;
      background-color: $dark_fill;
      font-weight: normal;
      


      &:hover {
        color: $selected_fg_color;
        $hover_bg_color: mix($dark_fill, $selected_bg_color, 50%);
        background-color: $hover_bg_color;

        &.reorderable-page {
          //border-color: transparentize($borders_color, 0.7);
          background-color: transparentize($hover_bg_color, 0.3);
        }
      }

      //&:backdrop {
      //  color: mix($backdrop_fg_color, $backdrop_bg_color, 60%);

      //  &.reorderable-page {
      //    border-color: transparent;
      //    background-color: transparent;
      //  }
      // }

      &:checked {
        color: $fg_color;
        background-color: $base_color;
        background-image: none;
        //&.reorderable-page {
        //  border-color: transparentize($borders_color, 0.5);
        //  background-color: transparentize($bg_color, 0.5);

        //  &:hover { background-color: transparentize($bg_color, 0.3); }
        //}
      }

      &:backdrop:checked {
        color: $backdrop_fg_color;
        background-color: $backdrop_base_color;

        //&.reorderable-page {
        //  border-color: $backdrop_borders_color;
        //  background-color: $backdrop_base_color;
        //}
      }

      // colors the button like the label, overridden otherwise
      button.flat {
        //&:hover { color: currentColor; }

        //&, &:backdrop { color: gtkalpha(currentColor, 0.3); }
        
        padding: 1px;
        margin: 2px;
        //margin-top: 4px;
        //margin-bottom: 4px;
        //// FIXME: generalize .small-button?
        //min-width: 20px;
        //min-height: 20px;

        &:last-child {
          margin-left: 4px;
          margin-right: -4px;
        }

        &:first-child {
          margin-left: -4px;
          margin-right: 4px;
        }
      }
    }

    &.top,
    &.bottom {
      tabs {
        padding-left: 4px;
        padding-right: 4px;

        &:not(:only-child) {
          margin-left: 3px;
          margin-right: 3px;

          &:first-child { margin-left: -1px; }
          &:last-child { margin-right: -1px; }
        }

        tab {
          margin-left: 0px;
          margin-right: 0px;

          &.reorderable-page { border-style: none solid; }
        }
      }
    }

    &.left,
    &.right {
      tabs {
        padding-top: 4px;
        padding-bottom: 4px;

        &:not(:only-child) {
          margin-top: 3px;
          margin-bottom: 3px;

          &:first-child { margin-top: -1px; }
          &:last-child { margin-bottom: -1px; }
        }

        tab {
          margin-top: 0px;
          margin-bottom: 0px;

          &.reorderable-page { border-style: solid none; }
        }
      }
    }

    &.top tab { padding-bottom: 4px; }
    &.bottom tab { padding-top: 4px; }
  }

  > stack:not(:only-child) { // the :not(:only-child) is for "hidden" notebooks
    background-color: $base_color;

    &:backdrop { background-color: $backdrop_base_color; }
  }
}
